[Unit]
Description=Load oduino sensor driver kernel module
Before=remote-key-framework.service

[Service]
ExecStart=/sbin/insmod /data/oduino_sensor.ko
Type=oneshot

[Install]
WantedBy=graphical.target
